<p>お世話になっております。</p>
<p>株式会社〇〇です。</p>
<br>
<p>インクの注文をお願いいたします。</p>
<br>
<p>インク名: <%= @order.ink_name %></p>
<p>注文個数: <%= @order.order_quantity %></p>
<p>注文日: <%= @order.order_date %></p>
<br>
<p>以上になりますので、よろしくお願いいたします。</p>
<br>
<br>
<p>住所</p>
<p>会社名</p>
<p>電話番号</p>
<p>メールアドレス</p>